body,
h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* layout */
body {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* 인덱스, 게시판목록 */
.list {
  width: 700px;
  margin: 0 auto;
}

.list-title {
  margin-top: 20px;
  padding-bottom: 10px;
}

.list-desc {
  padding: 10px 0;
}

.list-desc strong {
  color: royalblue;
}

.list-main {
  margin-bottom: 10px;
}

.list-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 1px solid #ddd;
  width: 700px;
}

.list-table thead {
  background-color: #ddd;
}

.list-table tr {
  border-top: 1px solid #ddd;
  padding: 50px;
  height: 40px;
  text-align: center;
}

.list-table tr td:nth-child(2) {
  text-align: left;
  text-decoration: underline;
}

.list-btngroup {
  text-align: right;
  margin-top: 20px;
}

.list-btn {
  background-color: royalblue;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  color: white;
  font: inherit;
}

/* 로그인 */
.login-container {
  width: 300px;
  margin: 20px auto;
}

.login-title {
  margin-bottom: 30px;
  text-align: center;
}

.login-container > div {
  /* background-color: skyblue; */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.label1 {
  width: 100px;
}

[type="text"],
[type="password"] {
  margin-left: 10px;
  width: 100%;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

[type="checkbox"] {
  margin-left: 100px;
}

.login-btngroup {
  margin-left: 90px;
}

.login-btn {
  width: 100px;
  height: 40px;
  background-color: royalblue;
  border-radius: 4px;
  font: inherit;
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-btn:nth-child(1) {
  margin-right: 10px;
}

.login-btn:nth-child(2) {
  margin-left: 10px;
}
