body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center; */
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  flex-grow: 1;
  width: 1000px;
  margin: auto;
}

/* header */
.header {
  display: flex;
  /* align-self: center; */
  align-items: center;
  /* [!] 
  컨텐츠들을 세로기준 가운데 정렬하려면 
  
  컨테이너에 align-items 속성을 사용해야합니다.
  align-self 속성은 
  컨테이너의 직계자식인 아이템에 개별적으로 세로정렬을 다르게 적용하고 싶을때 주는 속성입니다
  */

  justify-content: space-between;
  /* width: 1000px; */
  height: 60px;
  border-bottom: 2px solid #ddd;
}

.header-title {
  /* border: 1px solid black; */
  padding: 5px 10px;
}

.header-link {
  margin: 20px 0;
}

.header-link a {
  padding: 10px 15px;
  font: inherit;
}

/* footer */
.footer {
  /* [!] 아래 여백을 의도하신걸까요?  */
  /* margin-bottom: 10px; */
  /* width: 1000px; */
  height: 40px;
  background-color: #ebe6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 인덱스, 게시판목록 */
.list {
  width: 800px;
  margin: 0 auto;
}

.list-title {
  margin-top: 30px;
  padding-bottom: 10px;
}

.list-desc {
  padding: 10px 0;
}

.list-desc strong {
  color: royalblue;
}

.list-main {
  margin-bottom: 10px;
}

.list-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 1px solid #ddd;
  width: 800px;
}

.list-table thead {
  background-color: #ddd;
}

.list-table tr {
  border-top: 1px solid #ddd;
  padding: 50px;
  height: 40px;
  text-align: center;
}

.list-table tr td:nth-child(2) {
  text-align: left;
  text-decoration: underline;
}

.list-btngroup {
  text-align: right;
  margin-top: 20px;
}

.list-btn {
  background-color: royalblue;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  color: white;
  font: inherit;
}

/* 로그인 */
.main.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 400px;
}

.login-title {
  margin-bottom: 30px;
  text-align: center;
}

/* [!]form 태그 추가 */
.login-container form > div {
  /* background-color: skyblue; */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.label1 {
  width: 100px;
}

.login-container [type="text"],
.login-container [type="password"] {
  margin-left: 10px;
  width: 100%;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

[type="checkbox"] {
  margin-left: 100px;
}

.login-btn {
  width: 100%;
  height: 40px;
  background-color: royalblue;
  border-radius: 4px;
  font: inherit;
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* [!]버튼으로 변경하면서 추가 */
  border: 0;
}

/* 아이디찾기, 비밀번호찾기, 회원가입 */

.login-searchself {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-searchself a {
  padding: 0 10px;
}

.login-searchself a:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* 회원가입 */
.main.join {
  margin: 30px auto 0;
  width: 380px;
}

.join > h2 {
  text-align: center;
  padding-bottom: 30px;
}

.join-table {
  margin-bottom: 25px;
  width: 100%;
}

.join-table tr {
  height: 55px;
}

.join-table [type="text"] {
  /* margin-left: 10px; */
}

.join-table [type="text"],
.join-table [type="password"],
.join-table [type="tel"],
.join-table [type="email"] {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.join-table [type="tel"],
.join-table [type="email"] {
  /* margin-left: 10px; */
}

.join-btn > [type="submit"] {
  margin: 0 20px;
  width: 100%;
  height: 40px;
  border: 0;
  font: inherit;
  color: white;
  border-radius: 4px;
  background-color: royalblue;
}

/* 글작성하기 */
.main.write {
  width: 1000px;
  margin: 30px auto;
}

.write > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.write-tl {
  width: 600px;
  margin: 0 auto;
}

.write-tl tr {
  height: 50px;
}

.write-tl tr:nth-child(3) {
  height: 350px;
}

.write-tl select,
.write-tl textarea,
.write-tl input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  height: 32px;
  /* margin-left: 10px; */
}

.write-tl input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}
.write-tl textarea {
  resize: none;
  height: 330px;
}

.write-tl textarea,
.write-tl [type="text"] {
  width: 500px;
}

.write [type="file"] {
  margin-left: 10px;
}

.write-btn {
  width: 600px;
  height: 40px;
  margin: 10px auto;
  text-align: right;
}

.write-btn > [type="submit"] {
  border: 0;
  background-color: royalblue;
  border-radius: 4px;
  height: 40px;
  width: 150px;
  font: inherit;
  color: white;
}
